/* Team styles */
.team-heading {
    border-radius: 0;
    background-color: crimson;
}

.team-area {
    flex-wrap: wrap
}

/* Employee card styles */
.employee-card {
    box-shadow: 5px 5px 5px #615f5f;
}